<p class="breadcrumb">
	<%= link_to "Home", posts_path %> / Image details
</p>

<div class="image_container">
	<h1><%= @post.title %></h1><br>

	<%= image_tag @post.image.url(:large), :class => "image_show" %><br>

	<%= link_to "Delete", @post, :method => :delete %> / <%= link_to "Edit", edit_post_path(@post) %> / <%= button_to "Enroll", "/post/#{@post.id}/enroll" %> / <%= button_to "Recognize", "/post/#{@post.id}/recognize" %>

</div>
